<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.header }}</span>
        <span class="site-description">{{ site.subheader }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="Download APK" href="{{ site.apk_link }}"><i class="icon fa fa-download" aria-hidden="true"></i></a>
        <a aria-label="Download Code" href="{{ site.code_link }}"><i class="icon fa fa-code" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
